.container {
  background-color: black;
  padding: 1rem;
}

.container:nth-child(2n-2) {
  position: relative;
  top: 100px;
}

.container img {
  max-width: 100%;
}

.stack {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.stack > li {
  color: rgb(189, 189, 189);
  border-radius: 5px;
  font-style: italic;
}

.links {
  display: flex;
  gap: 10px;
}

.links > a {
  display: block;
  padding: 5px 8px;
  background-color: rgb(85, 85, 85);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}

.links > a:hover {
  transform: scale(1.05);
}
