nav {
  width: 150px;
  padding: 0 1rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

.wrapper {
  position: fixed;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav li {
  position: relative;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.4s cubic-bezier(0.79, 0.33, 0.14, 0.53);
  transition: color 0.12s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

nav a:before {
  transform: translate3d(-50%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.79, 0.33, 0.14, 0.53);
  content: " ";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #ffffff;
  margin: 0 1rem;
}

nav a:active {
  transform: scale(0.95);
}
nav a:hover {
  color: #aeaeae;
}

.active:before {
  transform: translate3d(3%, 0, 0);
}

.active {
  transition: transform 0.7s cubic-bezier(0.79, 0.33, 0.14, 0.53);
  transform: translate3d(3%, 0, 0);
}

.navItem {
  background-color: #aeaeae;
}
