@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-bg-color: #1c1c1c;
  --main-font-color: white;
  --ticker-width: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 3.15rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 32px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
